{% extends 'base.html' %}

{% block title %}
    Редактирование
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2>Редактирование камеры</h2>
    </div>

    <div class="container">
        <a href="/editing">Вернуться к списку</a>
        <ul class="list-group">
            <li class="list-group-item">ID: {{ camera.pk }}</li>
            <li class="list-group-item">Местоположение: {{ camera.location.get_location }}</li>
            <li class="list-group-item">Текущее состояние: {{ camera.state.get_state }}</li>
        </ul>
    </div>
{% endblock %}