{% extends 'base.html' %}

{% block title %}
    Редактирование
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-9 align-self-center">
                <h3>Список камер</h3>
            </div>
            <div class="col-3 align-self-center text-right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    🞣 Добавить камеру
                </button>
            </div>
        </div>
    </div>

    {% if update %}
        <div class="container mt-4 align-self-center border rounded bg-light">
            <div class="row p-3">
                <h5>Редактирование камеры</h5>
            </div>
            <div class="row p-3">
                <form id="add_form" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                </form>
            </div>
            <div class="row p-3">
                <a href="{% url 'camera_list' %}">
                    <button type="button" class="btn btn-secondary mr-2">
                        Отменить
                    </button>
                </a>
                <button form="add_form" type="submit" class="btn btn-primary">
                    Изменить
                </button>
            </div>
        </div>
    {% endif %}

    <div class="container">
        <div class="row border-bottom mt-4">
            <div class="col-1">
                <b>Номер</b>
            </div>
            <div class="col-8">
                <b>Местоположение</b>
            </div>
            <div class="col-3"></div>
        </div>
        {% for camera in cameras %}
            <div class="row mt-2">
                <div class="col-1">
                    {{ camera.pk }}
                </div>

                <div class="col-8">
                    {{ camera.location.get_location }}
                </div>

                <form class="delete-form" data-id="{{ camera.pk }}" action="{% url 'delete_camera' camera.pk %}" method="post">
                    {% csrf_token %}
                </form>

                <div class="col-3 text-right">
                    <a href="{% url 'update_camera' camera.pk %}" class="mr-1">
                        Редактировать
                    </a>

                    <a class="delete-button" data-id="{{ camera.pk }}" href="#">
                        Удалить
                    </a>
                </div>

            </div>
        {% endfor %}
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавление камеры</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="add_form" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отменить</button>
                    <button form="add_form" type="submit" class="btn btn-primary">Добавить</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
